<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hui.mapper.CreateMapper">
    <insert id="insertInfo" parameterType="com.hui.entity.PatientBasicInfo" useGeneratedKeys="true" keyProperty="id">
        insert into hospital.orders (patient_name, id_card,phone, age,status,patient_id)
        values
            (#{name}, #{idCard}, #{phone}, #{age},#{status},#{id})


    </insert>
    <insert id="insertBank">
        insert into hospital.bank (name, cash, wechat_pay, patient_id)
        values
            (#{name}, #{cash}, #{wechatPay}, #{patientId})
    </insert>
    <select id="getPatientIdByIdCard" resultType="java.lang.Long">
        select id from hospital.basic_patient where id_card=#{idCard}
    </select>
</mapper>