<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hui.mapper.ManagerMapper">

    <select id="getAllTime" resultType="com.hui.vo.AllTimeVO">
        select name,begin_time,end_time,predict_time,remain from work_time
        <where>
            <if test="name != null">
                and name like concat('%',#{name},'%')
            </if>
            and begin_time between #{time} and now()
        </where>
    </select>
    <select id="login" resultType="com.hui.vo.ManagerLoginVO">
        select id,name,password from basic_manager where name=#{name}
     </select>
    <select id="getTopDoctorsByVisits" resultType="com.hui.entity.DoctorVisitStats">
        select doctor_name as doctorName,count(1) as visitCount
        from orders
        where status=9 and DATE(create_time) = CURDATE()
        group by doctor_name
        order by visitCount desc
        limit 5
    </select>
    <select id="getAllTimeList" resultType="com.hui.vo.AllTimeVO">
        select name,begin_time,end_time,predict_time,remain from work_time
        <where>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="time != null">
                and begin_time between #{time} and now()
            </if>
        </where>
    </select>
</mapper>