<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hui.mapper.RegisterMapper">
    <update id="insertFullInfo">
            update hospital.orders
            set create_time=#{createTime},payment_method=#{paymentMethod}
            where id=#{id}
    </update>
    <update id="update" parameterType="com.hui.entity.TemplateInfo">
        UPDATE orders
        <set>
            <if test="card=null">
                card = #{card},
            </if>
            department = #{department},
            doctor_name=#{doctorName},
            doctor_id= #{doctorId},
            department_location= #{departmentLocation},
            price= #{price},
            level= #{level}
        </set>
        <where>
            patient_id=#{id}
        </where>
    </update>

    <update id="setNumber">
        update hospital.orders
        set number=#{number} ,predict_time=#{predictTime}
        where patient_id=#{currentPatientId} and status=0
    </update>
    <update id="updateDoctorTime">
        update hospital.time_details
        set status=1
        <where>
            doctor_id=#{doctorId} and number=#{number}
        </where>
    </update>
    <update id="updateDoctorRemain">
        update hospital.doctor_details
        set remain=remain-1
        <where>
            doctor_id=#{doctorId}
        </where>
    </update>
    <update id="minusMoney">
        update hospital.bank
        set ${paymentMethod}=${paymentMethod}-#{price}
        where patient_id=#{patientId}
    </update>
    <update id="minusCard">
        update hospital.medical_card
        set balance=balance-#{price}
        where patient_id= #{patientId}
    </update>
    <update id="setUnpaid">
        update hospital.orders
        set status=4,end_time=#{time}
        where id= #{registerId}
    </update>
    <update id="updateOverTime">
        update hospital.orders set status=#{status} where id=#{id}
    </update>
    <update id="updateStatus">
        update hospital.orders
        set status=#{status}
        where id=#{registerId}
    </update>
    <update id="setPrice">
        update hospital.orders
        set price=#{price} ,payment_method=#{detail}
        where id=#{registerId}
    </update>
    <update id="setPaymentMethod">
        update hospital.orders
        set payment_method= #{paymentMethod}
        where patient_id= #{patientId}
    </update>
    <update id="returnBankMoney">
        update hospital.bank
        set ${paymentMethod}=${paymentMethod}+#{money}
        where patient_id= #{patientId}
    </update>
    <update id="returnCardMoney">
        update hospital.medical_card
        set balance=balance+#{money}
        where patient_id= #{patientId}
    </update>
    <update id="returnDocNum">
        update hospital.time_details
        set status=0
        where number= #{number}
    </update>
    <delete id="deleteInfo">
        delete from hospital.orders
        where patient_id=#{currentPatientId} and status=0
    </delete>

    <delete id="cancelOrder">
        delete from hospital.orders where number= #{number} and status=#{status}
    </delete>


    <select id="pageDoctor" resultType="com.hui.entity.DoctorDetails"
            parameterType="com.hui.dto.DoctorPageQueryDTO">
        select * from doctor_details
        <where>
            <if test="name != null">
                and department like concat('%',#{name},'%')
            </if>
        </where>
    </select>
    <select id="pageTime" resultType="com.hui.entity.TimeDetails">
        select * from hospital.time_details
        <where>
            <if test="name != null">
                and name like concat('%',#{name},'%')
            </if>
            <if test="status!=null">
                and status= #{status}
            </if>
        </where>
    </select>
    <select id="getDoctorId" resultType="java.lang.Long">
        select doctor_id from hospital.orders
        where patient_id=#{currentPatientId} and status=0
    </select>
    <select id="getAllInfo" resultType="com.hui.entity.Registration">
        select id,patient_name,doctor_name,department,department_location,price,number,age,level,predict_time
        from hospital.orders
        where patient_id=#{currentPatientId} and status=0
    </select>
    <select id="getBankById" resultType="java.lang.Double">
        select ${paymentMethod} from hospital.bank
        where patient_id=#{patientId}
    </select>
    <select id="getOverTimeOrders" resultType="com.hui.vo.OverTimeVO">
        select id from hospital.orders where status=#{unPaid} and end_time &lt; #{localDateTime}
    </select>
    <select id="getCardById" resultType="double">
        select balance from hospital.medical_card
        where patient_id= #{patientId}
    </select>
    <select id="getPreTime" resultType="java.time.LocalDateTime">
        select predict_time from hospital.orders where number=#{number} and status=#{status}
    </select>
</mapper>